.messageForm {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.messageForm__input {
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 174px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  resize: none;
}

.messageForm__input::placeholder {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.messageForm__input:hover {
  border-color: var(--colors-interface-gray);
}

.messageForm__input:focus-visible {
  outline: none;
  border-color: var(--colors-interface-blue);
}

.messageForm__button {
  margin-top: 10px;
  align-self: flex-end;
}
