.button {
  border: none;
  width: 264px;
  height: 58px;
  padding: 0px;
  background: #f7f6f9;
  cursor: pointer;
}
.button__container {
  width: 234px;
  height: 24px;
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 17px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.button__text {
  display: flex;
  padding-left: 13px;
  align-items: center;
  margin: 0;
  padding-top: 4px;
  color: #606c78;
  text-decoration: none;
  list-style: none;
}
.button__text_active {
  color: #4154a4;
}
.Chevron {
  margin-left: auto;
  margin-right: 0;
}
