.button {
  background: none;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  transition: transform 0.2s linear;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1, 1.1);
}

.button_active {
  border: 1px solid rgba(65, 84, 164, 1);
  cursor: default;
  pointer-events: none;
}

.button_inactive {
  border: 1px solid rgba(223, 227, 232, 1);
}

.button_disabled {
  border: none;
  cursor: default;
  pointer-events: none;
}

.text_active {
  color: rgba(65, 84, 164, 1);
}

.text_inactive {
  color: rgba(146, 158, 173, 1);
}