.button {
  position: relative;
  font-family: 'Lato';
  font-weight: 700;
  border: none;
  border-radius: var(--common-border-radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: var(--transition-background-color);
}

.button:focus-visible {
  outline: none;
}

.button_loading::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./button-loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.button_type_primary {
  color: var(--colors-interface-white);
  background-color: var(--colors-button-primary-default);
}
.button_type_primary:hover {
  background-color: var(--colors-button-primary-hover);
}
.button_type_primary:active {
  background-color: var(--colors-button-primary-active);
}
.button_type_secondary {
  color: var(--colors-interface-blue);
  background-color: var(--colors-button-secondary-default);
}
.button_type_secondary:hover {
  background-color: var(--colors-button-secondary-hover);
}
.button_type_secondary:active {
  background-color: var(--colors-button-secondary-active);
}
.button_type_negative {
  color: var(--colors-interface-blue);
  background-color: var(--colors-button-negative-default);
}
.button_type_negative:hover {
  color: var(--colors-interface-red);
  background-color: var(--colors-button-negative-hover);
}
.button_type_negative:active {
  background-color: var(--colors-button-negative-active);
}

.button_disabled,
.button_disabled:hover {
  color: var(--colors-interface-gray);
  background-color: var(--colors-button-disabled);
  cursor: default;
}

.button_size_small {
  font-size: 16px;
  line-height: 19px;
  padding: 10px 15px;
}
.button_size_large {
  font-size: 18px;
  line-height: 22px;
  padding: 18px 32px;
}
