.table {
  width: 100%;
  border-style: none;
  border-collapse: collapse;
  text-align: left;
  background-color: var(--colors-interface-white);
}

.table__container {
  width: 100%;
  height: inherit;
  overflow: hidden;
  border-radius: var(--common-border-radius);
  border: var(--common-border-width) solid #e5e5e5;
}

.thead,
.tbody {
  display: contents;
}

.table__cell {
  position: relative;
  padding-left: 10px;
}

.table__cell:last-child {
  padding-right: 10px;
}

.table__header {
  height: 40px;
  background-color: var(--colors-interface-gray-light);
  color: var(--colors-interface-gray);
}

.header__row {
  padding: 0;
  border-bottom: var(--common-border-width) solid #e5e5e5;
}

.header__row[data-row='40'] {
  height: 40px;
}

.header__row[data-row='60'] {
  height: 60px;
}

.header__row[data-row='80'] {
  height: 80px;
}

.header__row:last-child {
  border: none;
}

.table__buttonContainer {
  min-width: 217px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__cell_subComponents {
  padding: 0;
}

.table__row_cursorPointer {
  cursor: pointer;
}

.table__row_cursorPointer:hover {
  opacity: 0.7;
}
