.container {
	width: 1117px;
	padding: 30px;
	border-radius: 10px;
	background-color: #fff;
	font-family: 'Lato';
	font-style: normal;
	border: 1px solid #9c9c9c;
	box-sizing: border-box;
}

.container__header {
	display: flex;
	text-align: center;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.container__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
}

.container__table {
	display: flex;
	border: 1px solid #E2E4E8;
}