.link {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(65, 84, 164, 1);
    text-align: start;
}

.link:hover {
    text-decoration: underline;
}

.link-default {
    width: max-content;
    padding: 20px 0 20px 10px;
    font-size: 16px;   
}

.link-small {
    width: min-content;
    font-weight: 700;
    font-size: 14px; 
}