.item {
  flex: 1;
  display: block;
}

.date__button {
  padding: 10px 15px;
  color: #4154a4;
  border-radius: 10px;
  background: rgba(65, 84, 164, 0.1);
  border: none;
  font-size: 16px;
  line-height: 19px;
}

.container {
  margin-bottom: 10px;
  padding: 20px 30px;
  align-items: center;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container__height {
  height: 685px;
}
.container__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  max-height: 60px;
  align-items: center;
}
.container__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.body {
  font-family: Lato, serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.calendar__container {
  z-index: 10;
  position: absolute;
  top: 203px;
  right: 26px;
}

.container__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.table__container {
  width: 100%;
}

.input {
  margin-left: 10px;
  width: 246px;
  border: 1px solid #e2e4e8;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  color: #4154a4;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.input__active {
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  width: 246px;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  color: #4154a4;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.date {
  margin-left: 10px;
  display: flex;
}

.date__text {
  color: #000000;
  margin-right: 10px;
}

.member__name {
  color: #4154a4;
  margin: 0 0 0 10px;
}

.cell {
  margin-left: 10px;
}

.pagination {
  padding: 20px 30px;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.pagination__text {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #929ead;
}
