.button {
  font-family: 'Lato';
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block; 
  transition: linear, 0.5s;
}

.primary { 
  color: #FFFFFF; 
  background-color: #4154A4;  
}
.primary:hover {
  opacity: 0.8;
}
.primary:active {
  transition: none;
  opacity: 1;
  color: #FFFFFF; 
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #4154A4;
}
.secondary {
  color: #4154A4;
  background: rgba(65, 84, 164, 0.1);
}
.secondary:hover {
  background: rgba(65, 84, 164, 0.2);
}
.secondary:active {
  transition: none;
  opacity: 1;
  color: #FFFFFF; 
  background-color: #4154A4; 
}
.negative {
  color: #4154A4;
  background: rgba(65, 84, 164, 0.1);
}
.negative:hover {
  color: #C53637;
  background: rgba(197, 54, 55, 0.1);
}
.negative:active {
  transition: none;
  opacity: 1;
  color: #FFFFFF; 
  background-color: #C53637;
}
.small {
  font-size: 16px;
  line-height: 19px;
  padding: 10.5px 15px;
}
.large {
  font-size: 18px;
  line-height: 22px;
  padding: 19px 74.75px;
}


