.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  z-index: 0;
  transition: .1s;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #000000;
  opacity: 0.3;
  z-index: -1;
}

.container:hover {
  width: 100px;
  height: 100px;
}

.container:hover .overlay {
  visibility: hidden;
}

.container:hover span {
  visibility: hidden;
}


