.alert_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link_box {
    width: 60px;
    height: 60px;
    background-color: rgba(65, 84, 164, 0.1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.text_wrapper {
    width: 205px;
    text-align: center;
    margin: 0;
}