.header {
  display: flex;
  padding: 20px;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.links {
  display: flex;
  gap: 30px;
}

.button {
  background-color: transparent;
  border: none;
  color: var(--colors-interface-gray-dark);
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  padding: 0;
}

.title {
  display: flex;
  align-items: center;
  margin: 10px 11px;
  color: var(--colors-interface-blue);
}

.logoContainer {
  display: flex;
}
