.container{
    display: flex;
    flex-direction: column;
    max-width: 612px;
    min-height: 404px;
    background: #FFFFFF;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-family: 'Lato';
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 18px 24px;
    align-items: center;
    max-height: 60px;
    border-bottom: 1px solid #E2E4E8;
}

.header__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding: 0;
    margin: 0;
}

.close:hover{
    opacity: .6;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #E2E4E8;
    max-width: 100%;
}

.footerButton{
    width: 106px;
    height: 40px;
    margin: 0;
    padding: 0;
}

.datepicker{
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Lato';
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
:global(.react-datepicker__month-container) {
    width: 50%;
    height: 284px;
    padding: 34px 33px;
    padding-right: 29px;
}
:global(.react-datepicker__header){
    background: #FFFFFF;
    border-bottom: none;
    padding: 0;
}
:global(.react-datepicker__current-month){
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    margin-top: 0;
    margin-bottom: 37px;
}
:global(.react-datepicker__day-names){
    display: none;
}
:global(.react-datepicker__navigation){
    width:20px;
    height:20px;
    top:35px;
    background-size: contain;
}
:global(.react-datepicker__navigation-icon::before){
    border-color: #C8CED6;
}
:global(.react-datepicker__navigation-icon--next::before){
    left: -17px;
}
:global(.react-datepicker__navigation-icon--previous::before){
    right: -17px;
}
:global(.react-datepicker__week){
    height: 35px;
    display: flex;
    align-items: center;
}
:global(.react-datepicker__day){
    font-weight: 900;
    font-size: 16px;
    line-height: 18px; 
    width: 25px;
    height: 25px;
    margin: 10px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
:global(.react-datepicker__day--in-range){
    background: #4154A4;
    border-radius: 50%;
    color: #FFFFFF;
}