.main {
  margin: 0;
  padding: 30px 30px 20px 30px;
  width: calc(1116 / 1440 * 100vw);
  background: var(--colors-interface-white);
  border-radius: var(--common-border-radius);
}

.header_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  height: 40px;

  margin: 0 0 30px 0;
}

.header {
  margin: 0;
  padding: 0;
}
