.row__data {
  grid-template-rows: 80px;
}

.row__name {
  display: flex;
  align-items: center;
}

.row__nameIcon {
  margin-right: 12px;
  padding: 8px;
  cursor: pointer;
  transition: var(--transition-common);
}

.row__nameIcon:hover {
  opacity: var(--hover-opacity);
}

.row__nameIcon_rotated {
  transform: rotate(90deg);
}
