.labels {
  display: flex;
}

.labelApproved {
  color: #3ea745;
  background: rgba(62, 167, 69, 0.1);
  padding: 6px 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.labelRejected {
  color: #c53637;
  background: rgba(197, 54, 55, 0.1);
  padding: 6px 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.labelWarning {
  color: #ac9134;
  background: rgba(236, 190, 35, 0.1);
  padding: 6px 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
