.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: none;
  background-color: #fbfafc;
  transition: all 200ms linear, opacity 50ms linear;
  cursor: pointer;
}

.button:active {
  opacity: 0.6;
}

.button:hover {
  background-color: #eceef6;
}

.button__icon {
  transition: all 200ms linear;
}

.button:hover .button__icon {
  fill: black;
}
