.dateRange {
  display: flex;
  flex-basis: 230px;
}

.dateRange__divider {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  width: 12px;
}

.dateRange__divider::after {
  content: '';
  display: block;
  border-bottom: 1px solid black;
  position: absolute;
  top: 50%;
  width: 100%;
}

.datePicker {
  width: auto;
}

.datePicker__input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 40px;
  width: 100px;
  text-align: center;
  border: 1px solid #e2e4e8;
  border-radius: 10px;
  transition: border-color 0.1s linear;
}

.datePicker__input:hover {
  border-color: #929ead;
}

.dataPicker__input_disabled:hover {
  border-color: #e2e4e8;
}

.datePicker__input:focus,
.datePicker__input:focus-visible {
  border-width: 1px;
  outline: none;
  border-color: #4154a4;
}

.dataPicker__calendar {
  box-sizing: border-box;
  width: 210px;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
  font-family: 'Lato', sans-serif;
  background-color: white;
}

.datePicker__calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.datePicker__headerMonth {
  margin-right: 4px;
}

.dataPicker__calendarWeekDay {
  font-weight: 400;
  font-size: 14px;
  user-select: none;
  transition: background-color 0.2s ease-in;
  border-radius: 50%;
}
